
ExpenseAngular/node_modules/.bin/acorn
*.cmd
*.ts
*.js
*.json
*.md
*.map
*.txt
*.jst
*.yml
*.xml
*.ttf
*.svg
*.eot
*.less
*.opts
*.html
*.sh
*.ico
*.css
*.py
*.h
*.cpp
*.hpp
*.scss
*.coffee
*.priv
*.pub
*.pem
*.png
*.jpg
*.gif
*.xhtml
*.xpi
*.aspx
*.cs
*.apk
*.jsm
*.html
*.html
*.