<h1 style="text-align: left; background-color: rgba(220, 225, 226, 0.918);">Expense Management System</h1>
<nav class="navbar navbar-dark bg-primary" style="background-color: #c5e7ff;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a *ngIf="!flag" class="navbar-brand" [routerLink]="['home']"><img src="../assets/appLogo.png" ></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['home']">Expense</a></li>
        <li *ngIf="!flag"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="flag"><a [routerLink]="['add']">Add An Expense</a></li>
        <li *ngIf="flag"><a [routerLink]="['search']">Find An Expense</a></li>
        <li *ngIf="flag"><a [routerLink]="['list']">List All Expenses</a></li>
        <li *ngIf="flag"><a [routerLink]="['modify']">Modify An Expense</a></li>
        <li *ngIf="flag"><a [routerLink]="['delete']">Delete An Expense</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li *ngIf="!flag" ><a [routerLink]="['logout']" >Logout</a></li> -->
        <li *ngIf="flag" ><a [routerLink]="['logout']" ><img src="../assets/sign-out-option.png"></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
